@{
// TODO #2.1 COMPLETED- declare the ViewModel (outside of this @{ } block)
}

@model TechJobs.Models.Job

    <table class="job-listing">
        @{
            // TODO #2.2 COMPLETED - display the job fields, one per row (outside of this @{ } block)
        }
        <tr>
            <th>Job Id</th>
            <th>Job Name</th>
            <th>Employer</th>
            <th>Location</th>
            <th>Core Competancy</th>
            <th>Position type</th>
        </tr>

        <tr>
            <td>@Model.ID</td>
            <td>@Model.Name</td>
            <td>@Model.Employer.ToString()</td>
            <td>@Model.Location.ToString()</td>
            <td>@Model.CoreCompetency.ToString()</td>
            <td>@Model.PositionType.ToString()</td>
        </tr>
    </table>